* {
margin:0;
padding: 0;
box-sizing: border-box;
}

body {
    font-size: 0.9rem;
    background-color: #333;
}

.navWrapper {
    overflow: hidden;
    background-color: #333;
}
  
  .navWrapper a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .navWrapper a:hover {
    background-color: red;
    color: black;
  }
  
  .navWrapper a.active {
    background-color: #4CAF50;
    color: white;
  }

.bannerWrapper {
    margin: auto;
    padding: 10px 0 4px 0;
    width: 95%;
}

.ebay {
    width: 100%;
    height: auto;
}

.threeColWrapper {
    margin: auto;
    width: 95%;
    background-color: #fff;
    overflow: hidden;
}

.footer {
    padding-top: 40px;
    width: 100%;
    height: 100px;
    background-color: #333;
    color: #f2f2f2;
    text-align: center;
}

.lSideBar ul li {
    list-style: none;
    padding: 4.8px;
}

ul li.lSide1 {
    list-style-image: url('../img/e-plus.jpg');
    margin-left: 38px;
}

ul li.lSide2 {
    list-style-image: url('../img/e-plus.jpg');
    margin-left: 38px;
}

ul li.lSide3 {
    list-style-image: url('../img/fist.jpg');
    margin-left: 38px;
}

ul li.lSide4 {
    list-style-image: url('../img/baskeball.jpg');
    margin-left: 38px;
}

ul li.lSide5 {
    list-style-image: url('../img/soccer.jpg');
    margin-left: 38px;
}

ul li.lSide6 {
    list-style-image: url('../img/hocky.jpg');
    margin-left: 38px;
}

ul li.lSide7 {
    list-style-image: url('../img/watch-tv.jpg');
    margin-left: 38px;
}
    
.batterMain {
    width: 100%;
}

.batterMain img {
    width: 100%;
    height: auto;
}

.rSideBar ul li {
    list-style: none;
    padding: 10px;
}

ul li.rSide7 {
    list-style-image: url('../img/e-plus.jpg');
    margin-left: 38px;
}

.scoresImg {
    margin-left: 294px;
}

.lSide a:hover {
    color: hotpink;
}

.rSide a:hover {
    color: orangered;
}

.bigCBold {
    position: relative;
    bottom: 30px;
}

.dadIsBest {
    overflow: hidden;
}

.scoresWrapper {
    padding: 0 3px 0 3px;
}

.scores {
    overflow: hidden;
}

.homeTeam {
    padding: 0 2em 0 2em;
}

.awayTeam {
    padding-left: 25px;
}

.homeTeamScore {
    padding: 0 .5em 0 .5em;
}

.awayTeamScore {
    padding: 0 .5em 0 .5em;
}

.homeTeam, .homeTeamImage, .homeTeamScore, .espnScoreCount, .awayTeamScore, .awayTeamImage, .awayTeam {
    float: left;
}

.homeTeamImageMobile {
    display: none;
}

.awayTeamImageMobile {
    display: none;
}

.homeTeamName {
    font-weight: bold;
}

.homeTeamRecord {
    float: right;
    font-size: 10px;
}

.homeTeamName, .homeTeamRecord {
    display: block;
}

.homeTeamScore, .awayTeamScore {
    font-weight: bold;
    font-size: 30px;
}

.espnScoreCount {
    display: block;
}

.espnTitle {
    display: block;
    text-transform: uppercase;
    padding-left: 25px;
}

.bottomCount {
    color: red;
}

.outCount {
    color: #000;
}

.diamonds {
    display: block;
    padding-left: 25px;
}

.awayTeamName {
    font-weight: bold;
}

.awayTeamRecord {
    font-size: 10px;
}

.awayTeamName, .awayTeamRecord {
    display: block;
}

.batter {
    float: left;
    padding-right: .5em;
    padding-left: 1em;
}

.batterInfo > span, .pitcherInfo > span {
    display: block;
    font-size: .8em;
}

.batterInfo > span:nth-child(1), .pitcherInfo > span:nth-child(1) {
    color: grey;
}

.atBat {
    display: block;
    width: 100%;
    padding: 10px;
    border-bottom: 1px solid grey;
    text-transform: uppercase; 
}

.batterBox {
    overflow: hidden;
    padding: 12px 0;
}

.pitcher {
    float: left;
    width: 5%;
    padding-left: 1em;
    padding-right: 2em;
}

.pitcherInfo {
    border-right: 1px solid grey;    
}

.pitcherInfo, .batterInfo {
    float: left;
    width: 40%;
}

.bettsHeader, .bettsP {
    display: block;
}

.videoWrapper {
    padding-top: 10px;
    overflow: hidden;
    box-shadow: 4px 4px grey;
}

.diveVideo {
    float: left;
}

.description {
    float: left;
    width: 50%;
}

.description > span {
    padding: 5px;
}

.buttons {
    overflow: hidden;
    padding: 9px;
}

.buttons > a{
    display: block;
    float: left;
    margin-left: 10px;
    padding: 0 35px 0 35px;
    text-decoration: none;
    border-radius: 15px;
    border: 2px solid blue;
    width: 11em;
    text-align: center;
}

.buttons > a:hover {
    background-color: blue;
    color: #fff;
}

@media screen and (max-width:767px) {
    .ebay {
        width: 100%;
        height: auto;
    }

    .mid {
        float: left;
        width: 100%;
    }

    .mid img {
        width: 100%;
        height: auto;
    }

    .scoresWrapper {
        width: 100%;
    }

    .videoWrapper {
        width: 92%;
    }

    .buttons {
        width: 58%;
        margin: 0 auto;
    }

    .buttons > a {
        margin: 5px;
    }

    .videoWrapper {
        width: 100%;
        border-bottom: 1px solid grey;
    }

    .lSideBar {
        margin: 0;
    }

    .description {
        width: 100%;
        padding: 0 10px;
    }
    
    .diveVideo {
        width: 100%;
    }

    .pitcher {
        width: 23%;
    }

    .pitcherInfo, .batterInfo {
        float: left;
        width: 30%;
    }

    .awayTeamScore {
        clear: both;
    }

    .espnScoreCount {
        clear: both;
    }

    .espnScoreCount {
        margin: auto 36%;
        padding: 1rem 0;
        width: 29%;
        clear: both;
    }

    .diamonds img {
        margin-left: -.7rem;
    }

    .homeTeamImage {
        display: none;
    }

    .homeTeamImageMobile {
        display: block;
        width: 14%;
    }

    .awayTeamImage {
        display: none;
    }

    .awayTeamImageMobile {
        display: block;
        width: 14%;
    }

    img.bigC {
        float: left;
    }

    .homeTeam {
        padding-left: 85px;
        float: left;
    }

    .homeTeamScore {
        padding-left: 35px;
    }

    .awayTeamImageMobile {
        display: block;
    }

    .awayTeamScore {
        clear: both;
        margin-bottom: 20px;
        float: right;
    }
    
    .awayTeam {
        padding-left: 125px;
    }

}

@media screen and (min-width:768px) {
    .lSideBar {
        width: 100%;
    }

    .batterMain {
        width: 100%;
    }

    .atBatWrapper {
        width: 726px;
    }

    .videoWrapper {
        width: 726px;
    }

    .rSideBar {
        width: 100%;
    }

    .mid {
        width: 100%;
    }
}

@media screen and (max-width: 1199px) {
    .batterMain img {
        margin-left: 0;
        }

    .lSideBar {
        width: 100%;
    }

    .batterMain {
        width: 100%;
    }

    .rSideBar {
        width: 100%;
    }

    .batterMain img {
        margin-left: 0;
    }

    .videoWrapper {
        width: 100%;
    }

    .atBatWrapper {
        width: 100%;
    }
}

@media screen and (min-width: 1200px){
    .mid {
        float: left;
        width: 530px;
    }

    .lSideBar {
        margin: 0 35px 0 35px;
        float: left;
        width: 303px;
    }

    .rSideBar {
        margin: 0 35px 0 35px;
        float: left;
        width: 227px;
    }

    .atBatWrapper {
        overflow: hidden;
        padding: 10px 0;
        border: 1px solid grey;
        border-radius: 5px;
    }

    .videoWrapper {
        width: 100%;
    }

    .atBatWrapper {
        width: 100%;
    }
}