* {
    padding: 0;
    margin: 0;
}

header {
    margin-bottom: 15px;
}

header, footer {
    height: 50px;
    background-color: #000;
}

.wrapper {
    height: 607px;
}

.mid {
    height: 507px;
    text-align: center;
}

h2 {
    margin-bottom: 27px;
    color: #33bdac;
}

.gridWrapper {
    width: 75%;
    height: 428px;
    margin: auto;
}

.topRow, .bottomRow {
    height: 214px;
}

.grid {
    display: inline-block;
    height: 212px;
    width: 313px;
    padding-top: 20px;
    vertical-align: top;
}

.one, .three, .five {
    background-color: #093e51;
}

.two, .four, .six {
    background-color: #33bdac;
}

.imgWrapper {
    width: 60px;
    margin: auto;
}

.headline {
    height: 40px;
    margin-top: 10px;
    text-align: center;
}

h3, p {
    color: #fff;
}

.message {
    height: 60px;
    text-align: center;
}

@media screen and (max-width:320px) {
    header, footer {
        display: none;
    }

    h2 {
        width: 390px;
        margin-left: 50px;
    }

    .gridWrapper {
        width: 100%;
        margin-left: 70px;
    }
}